
{% extends 'base.html.twig' %}
{% block title %}Bienvenue sur le meilleur réseau PI NETWORK
{% endblock %}

{% block header %}
<h2> Voici le nouveau header</h2>
{% endblock %}

{% block body %}
<div class="container primary">
    <div class="jumbotron mt-3" style="background-color:#916DF4;">
  <h1 class="display-3">Bienvenue sur mon site !</h1>
  <p class="lead">Nous mettons les membres de notre site à PI Network pour qu'il puisse gagner de l'argent facilement !</p>
  <hr class="my-4">
  <p>Voici mon code de parrainage <a href="https://minepi.com/XDemonBloodX">XDemonBloodX</a></p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Voir plus</a>
  </p>
    </div>
<h2 class="h1 mt-3 mb-4" style="color:#FF5EEF;">Nos appartements stars <i class="fab fa-galactic-senate"></i></h2> 
<hr style="border-color:#FF5EEF;">

  <div class="row mt-5">
    <div class="col-md-4">
      <div class="card bg-light mb-3">
        <div class="card-header text-center">
        3 chambres, <strong>49&euro; / nuit</strong> <br>
        <small> Pas encore noté</small>
        </div>
        <img src="http://placehold.it/1000x400" alt="Image de l'appartement"
        style="height:200px; width:100%; display:block;">
    
        <div class="card-body">
        <h4 class="card-title">
            Appartement de ouf !
        </h4>
        <p class="card-text">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt dolores reprehenderit eaque corporis tempora hic consectetur eligendi optio itaque sunt?
        </p>
        <a href="#" class="btn btn-warning">En savoir plus</a>
        </div>
    </div>
    </div>
    <div class="col-md-4">
      <div class="card bg-light mb-3">
        <div class="card-header text-center">
        3 chambres, <strong>49&euro; / nuit</strong> <br>
        <small> Pas encore noté</small>
        </div>
        <img src="http://placehold.it/1000x400" alt="Image de l'appartement"
        style="height:200px; width:100%; display:block;">
    
        <div class="card-body">
        <h4 class="card-title">
            Appartement de ouf !
        </h4>
        <p class="card-text">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt dolores reprehenderit eaque corporis tempora hic consectetur eligendi optio itaque sunt?
        </p>
        <a href="#" class="btn btn-warning">En savoir plus</a>
        </div>
    </div>
    </div>
    <div class="col-md-4">
      <div class="card bg-light mb-3">
        <div class="card-header text-center">
        3 chambres, <strong>49&euro; / nuit</strong> <br>
        <small> Pas encore noté</small>
        </div>
        <img src="http://placehold.it/1000x400" alt="Image de l'appartement"
        style="height:200px; width:100%; display:block;">
    
        <div class="card-body">
        <h4 class="card-title">
            Appartement de ouf !
        </h4>
        <p class="card-text">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt dolores reprehenderit eaque corporis tempora hic consectetur eligendi optio itaque sunt?
        </p>
        <a href="#" class="btn btn-warning">En savoir plus</a>
        </div>
    </div>
    </div>
  </div>

<h2 class="h1 mt-3 mb-4" style="color:#FF5EEF;">Nos propriétaires star <i class="fas fa-grin-stars"></i></h2>
<hr style="border-color:#FF5EEF;">

<div class="row">
  <DIV class="col">
    <div class="card border-secondary mb-3">
      <div class="card-body">
        <h4 class="card-title">Palmié Tanguy</h4>
        <hr>
        <div class="card-text">
        <img src="http://placehold.it/64x64" style="border-radius: 100%;" alt="avatar de tanguy palmié" class="float-left mr-3">
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis, hic.</p>
      <a href="#" class="btn btn-success float-right">En savoir plus</a>
      </div>
    </div>
    </div>
  </DIV>
  <DIV class="col">
    <div class="card border-secondary mb-3">
      <div class="card-body">
        <h4 class="card-title">Palmié Tanguy</h4>
        <hr>
        <div class="card-text">
        <img src="http://placehold.it/64x64" alt="avatar de tanguy palmié" style="border-radius: 100%;" class="float-left mr-3">
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis, hic.</p>
      <a href="#" class="btn btn-success float-right">En savoir plus</a>
      </div>
    </div>    
    </div>
  </DIV>
</div>



</div>

{% endblock %}
